
<section class="cabecera-titulo">
    <h2>Formulario de Ingreso</h2>
    <hr /> <br />
    <p>Rellena los campos y envia el siguiente formulario para contactarme, me estaré comunicando con usted lo mas pronto posible</p>

</section>

<section id="form-contact">

    <label for="name" class="form-label" >Nombre</label>
    <input type="text" name='name' class="form-input" required>
    <label for="mail" class="form-label">Correo</label>
    <input type="email" name="mail" class="form-input" required>
    <label for="description" class="form-label">Descripcion</label>
    <textarea name="description" rows="6" class="form-input">dddd</textarea>
    <br />
    <input type="submit" value="Enviar" class="form-btn">

</section>
