<!--Barra de Navegación-->

<header>
  <h1 id="title">Portafolio Personal</h1>
  <ul id = navbar>
    <li> <a [routerLink]="['/about']">Sobre Mi</a></li>
    <li> <a [routerLink]="['/curriculo']">Curriculum</a></li>
    <li> <a [routerLink]="['/projects']">Proyectos</a></li>
    <li> <a [routerLink]="['/login']">Login</a></li>
    <li> <a [routerLink]="['/contact']">Contacto</a></li>
  </ul>
</header>


<section id = content>
  <router-outlet></router-outlet>
</section>

<footer>
  Blog de Juan Jose Alvarez Villada &copy;
</footer>
